.event.hide-mobile .image{
    width: 30% ;
    max-width: 30% ;
    padding-bottom: 30% ;
    height: 0px;
}

.event.hide-mobile .text-block{
    width: 64% ;
    max-width: 64% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event.hide-mobile .text-block .title{
    position: relative ;
    width: fit-content;
}

.event.hide-mobile .text-block .title .download-pdf{
    right: -55px ;
    top: 0px;
    height: 100%;
}

.event.hide-mobile .text-block .description-block{
    width: 100%;
}

.event.hide-mobile .text-block>.left-side{
    width: 50%;
}

.event.hide-mobile .text-block>.right-side{
    width: 45%;
}

.closest-event-block .event.hide-mobile{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.event.hide-mobile .buy-block{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

.event.hide-mobile .buttons .left-places{
    margin-bottom: 0px;
}

.event.hide-mobile .buttons .left-places, .event.hide-mobile .buttons .order {
    width: 100%;
    height: 40%;
    max-height: 40% !important;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    padding: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.event.hide-mobile .buttons .order{
    margin-bottom: 26px;
}

.event.hide-mobile .order .arrow{
    background-size: cover;
    background-position: right;
    width: 13%;
    height: 30%;
    top: 37%;
}

.event.hide-mobile .buy-block .qr{
    width: 40%;
    margin-left: 0%;
    padding-bottom: 40%;
    height: 0px;
}

.event.show-mobile{
    margin-bottom: 50px;
}

.sorts .input-block{
    width: 25%;
    position: relative;
}

.sorts .input-block input, .sorts .input-block input:focus{
    width: 100%;
    padding-right: 25%;
}

.input-block button, .input-block button:focus{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #717DEB;
    border-radius: 6px;
    background-image: url(/static/img/search.svg);
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}

.event.hide-mobile .buy-block .buttons{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-block .info-block{
    margin-top: 30px;
}

@media(max-width: 1400px){
    .text-block .info-block{
        margin-top: 15px;
    }
}

@media(max-width:900px){
    .sorts .input-block{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .input-block input{
        width: 100%;
        padding-right: 25% !important;
    }
    .input-block button, .input-block button:focus{
        height: 50px;
        width: 25%;
    }
}