.event.hide-mobile .image{
    width: 30% ;
    max-width: 30% ;
    padding-bottom: 30% ;
    height: 0px;
}

.event.hide-mobile .text-block{
    width: 64% ;
    max-width: 64% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event.hide-mobile .text-block .title{
    position: relative ;
    width: fit-content;
}

.event.hide-mobile .text-block .title .download-pdf{
    right: -55px ;
    top: 8px  ;
}

.event.hide-mobile .text-block .description-block{
    width: 100%;
    margin-top: 20px;
}

.event.hide-mobile .text-block>.left-side{
    width: 50%;
}

.event.hide-mobile .text-block>.right-side{
    width: 45%;
}

.closest-event-block .event.hide-mobile{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.event.hide-mobile .buy-block{
    margin-top: 0px;
}

.event.hide-mobile .buttons .left-places{
    margin-bottom: 0px;
}

.event.hide-mobile .buttons .order{
    margin-bottom: 26px;
}

.event.hide-mobile .order .arrow{
    background-size: cover;
    background-position: right;
    width: 13%;
    height: 30%;
    top: 37%;
}

.event.hide-mobile .buy-block .qr{
    width: 48%;
    margin-left: 0%;
    padding-bottom: 48%;
}

.sorts .input-block{
    width: 25%;
    position: relative;
}

.sorts .input-block input, .sorts .input-block input:focus{
    width: 100%;
    padding-right: 25%;
}

.input-block button, .input-block button:focus{
    width: 20%;
    height: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #717DEB;
    border-radius: 6px;
    background-image: url(/static/img/search.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}


@media(max-width:900px){
    .sorts .input-block{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .input-block input{
        width: 100%;
        padding-right: 25% !important;
    }

    .buy-block .buttons{
        width: 50%;

    }
    
}