* {
    font-family: "Neo Sans Pro Cyr";
    
}

html{
    max-width: 1920px;
    min-width: 1100px;
    background: rgb(231, 231, 231);
    margin: auto;
}

body{
    margin: 0px;
    padding: 0px;
    background: white;
    position: relative;
    z-index: 1;
}

/* .rating .rateit{
    font-size: 29px !important;
} */

a{
    text-decoration: none;
}

.show-mobile, .show-mobile-flex{
    display: none !important;
}

.telegram-block {
    position: fixed;
    width: 24vh;
    height: 5vh;
    bottom: 3vh;
    right: -26vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    font-weight: 500;
    cursor: pointer;
    z-index: 100;
    text-decoration: none;
    color: black !important;
    transition: 0.2s ease-in-out;
}

.close-telegram {
    position: fixed;
    right: -4vh;
    bottom: 4.5vh;
    width: 2vh;
    height: 2vh;
    background-image: url(/static/img/close.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100;
    transition: 0.2s ease-in-out;
}

.wrap{
    margin: auto;
    width: 80%;
    height: fit-content;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding-top: 30px;
    position: relative;
}

.header .logos-block{
    height: auto;
    cursor: pointer;
}
.logos-block .logo{
    height: 58px;
    width: 200px;
    background-size: contain;
    margin-right: 25px;
    display: inline-block;
    background-repeat: no-repeat;
}

.menu-block{
    text-align: center;
    padding-top: 35px;
}

.menu-block .item{    
    margin: auto;
    position: relative;
    display: inline-block;
    margin-right: 70px;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.no-margin-right{
    margin-right: 0px !important;
}

.item .text{
    font-weight: 300;
    font-size: 22px;
    line-height: 19px;
    color: #0202a7;
}

.empty-event .icon {
    width: 11%;
    padding-bottom: 11%;
    position: absolute;
    background: url(/static/img/instagram_white.svg);
    background-size: contain;
    right: 15%;
    background-repeat: no-repeat;
}

.menu-block .item:hover{
    color: #16296b;
    border-bottom: 2px solid #253D92;
}

.item.active>.text{
    color:#253D92;
    font-weight: 500;
}

.item-underline{
    position: absolute;
    width: 100%;
    height: 2px;
    background: #253D92;
    bottom: -5px;
    display: none;
}

.item.active>.item-underline{
    display: block;
}

.empty-event {
    /* width: 100%; */
    padding-left: 25%;
    padding-right: 25%;
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.11);
    border-radius: 51px;
    padding-bottom: 5%;
    padding-top: 5%;
}



.empty-event .under-title{
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #232323;
    font-weight: 500;
}

.empty-event .image{
    width: 100%;
    height: 0px;
    padding-bottom: 50%;
    background-image: url(/static/img/empty_event.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.empty-event .buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.empty-event .buttons .telegram, .empty-event .buttons .instagram{
    width: 40%;
    height: 49px;
    background: linear-gradient(91.52deg, #FFB340 0.34%, #FFC978 109.27%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    position: relative;
}

.events-button{
    background: linear-gradient(95.9deg, #1D3588 -3.96%, #445FBC 105.81%);
    border-radius: 14px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    height: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
    margin-top: 20px;
}

.river1{
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(/static/img/river1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1097px;
    z-index: 0;
}

.first-block {
    display: flex;
    margin-top: 80px;
    z-index: 1;
    position: relative;
    justify-content: space-between;
}

.first-block .image-block {
    width: 40%;
    height: 670px;
    background-image: url(/static/img/title.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 24px;
}   

.title-block{
    width: 45%;
    padding-top: 7%;
}

.title-block .under-title {
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    margin-top: 15px;
}   

.title-block .title {
    font-weight: 500;
    font-size: 59px;
    line-height: 85px;
    color: #1D3588;
}

.title-block .title-button {
    width: 266px;
    height: 30px;
    background: #FFB74B;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    border-radius: 6px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: white;
    text-align: center;
    padding-top: 12px;
    margin-top: 40px;
    cursor: pointer;
}

.title-block .title-button:active{
    background: #d89b40;
    transition: 0.1s;
}
.events-button:active{
    background: linear-gradient(95.9deg, #162766 -3.96%, #33478f 105.81%);
}

.social-block{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.social-block .socials{
    width: auto;
    height: 36px;
    z-index: 1;
    margin-top: 17px;
}
.social-block .logos{
    width: auto;
    height: 48px;
    z-index: 1;
}

.socials .item{
    display: inline-block;
    margin-right: 23px;
    width: 36px;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
}

.socials .facebook{
    background-image: url(/static/img/facebook.svg);   
}
.socials .twitter{
    background-image: url(/static/img/twitter.svg);   
}
.socials .instagram{
    background-image: url(/static/img/instagram.svg);   
}
.socials .youtube{
    background-image: url(/static/img/youtube.svg);   
}
.socials .telegram{
    background-image: url(/static/img/telegram.svg);   
}

.logos .item{
    margin-right: 23px;
    display: inline-block;
    vertical-align: middle;
}

.logos .logo1{
    background: #1D3588;
    border-radius: 11px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    width: 140px;
}

.logo1 .logo{
    width: 100%;
    height: 100%;
    background-image: url(/static/img/logo2.png);
}
.logos .logo2{
    width: 161px;
    height: 100%;
    background-image: url(/static/img/logo3.png);
}

.logo1 .logo, .logos .logo2{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.social-block .arrow-down{
    width: 24px;
    height: 24px;
    background-image: url(/static/img/arrow_down.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 40px;
    position: absolute;
    left: 50%;
    transition: 1s ease-in-out;
}


.closest-event-block{
    margin: auto;
    margin-top: 300px;
    width: 90%;
    position: relative;
    text-align: center;
    z-index: 5;
}
.closest-event-block .title{
    font-weight: 500;
    font-size: 55px;
    line-height: 66px;
    color: #1D3588;
    margin-bottom: 52px;
}

.closest-event-block .event{
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgb(0 0 0 / 11%);
    border-radius: 51px;
    max-width: 100%;
    padding: 75px;
    height: auto;
    text-align: left;
    position: relative;
}

.event .image{
    display: inline-block;
    width: 40%;
    max-width: 40%;
    padding-bottom: 42%;
    background-image: url(/static/img/event_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: top;
    border-radius: 51px;
}

.event .text-block{
    width: 54%;
    max-width: 54%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding-left: 5%;
    margin-top: 11px;
}

.text-block .title{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #1D3588;
    margin-bottom: 17px;
}

.text-block .info-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-block .description-block{
    font-size: 17px;
    line-height: 20px;
    text-align: justify;
    font-weight: 500;
    max-height: 150px;
    min-height: 150px;
    overflow: auto;
    text-align: left;
    white-space: pre-wrap
}

.description-block ul{
    margin: 0px;
}

.info-block .left-side{
    width: 50%;
    line-height: 30px;
}

.info-block .left-side.full{
    width: 100%;
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
}

.info-block .left-side.full .value{
    display: block;
    line-height: 27px;
}
.info-block .left-side.full .key{
    float: left;
}

.left-side .key {
    color: #1D3588;
    font-weight: 500;
    display: block;
    margin-right: 5px;
    font-size: 20px;
    line-height: 24px;
    float: left;
}
.left-side .value {
    
    color: #AEAEAE;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    
}

.left-side .item{
    width: 100%;
    margin-bottom: 20px;
}

.left-side .item.no-margin{
    margin-bottom: 0px;
}

.event .download-pdf{
    position: absolute;
    right: 50px;
    top: 50px;
    width: 40px;
    height: 40px;
    background-image: url(/static/img/download_pdf.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.buy-block{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buy-block .buttons{
    width: 60%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.empty-event .title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #1D3588;
    margin-bottom: 15px !important;
}

.buy-block .buttons .down-arrow-block{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.down-arrow-block .arrow{
    width: 20px;
    height: 20px;
    background-image: url(/static/img/down_arrow_orange.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

.buttons .left-places, .buttons .order{
    width: 100%;
    height: 40%;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    /* padding-top: 20px; */
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.buttons .left-places{
    background: linear-gradient(95.9deg, #D33434 -3.96%, #D75B5B 105.81%), #FFB74B;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 26px;
}

.buttons .left-places:active{
    background: linear-gradient(95.9deg, #ad2a2a -3.96%, #b64d4d 105.81%), #FFB74B;
}

.buttons .order{
    background: #FFB74B;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    position: absolute;
    bottom: 0px;
}
.buttons .order:active{
    background: #d1963e;
}

.order .arrow{
    width: 25%;
    position: absolute;
    right: 5%;
    top: 40%;
    height: 25%;
    background-image: url(/static/img/arrow_right_white.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.buttons *{
    cursor: pointer;
}

.buy-block .qr{
    width: 25%;
    display: inline-block;
    padding-bottom: 25%;
    background-image: url(/static/img/test_qr.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.see-events-block{
    width: 90%;
    margin: auto;
    margin-top: 38px;
    text-align: right;
    height: auto;    
}

.see-events-block .text{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;    
    color: #1D3588;
    display: inline-block;
}

.see-events-block .arrow{
    width: 105px;
    height: 14px;
    background-image: url(/static/img/arrow_right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
    display: inline-block;
}

.see-events-block *{
    cursor: pointer;
}

.event .planet{
    position: absolute;
    height: 100%;
    width: 50%;
    right: -19%;
    top: -20%;
    background-image: url(/static/img/planet.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.closest-event-block .gray-coin2{
    position: absolute;
    width: 433px;
    height: 370px;
    left: -19.5%;
    top: 10%;
    background-image: url(/static/img/gray_coin2.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.closest-event-block .gray-coin1{
    position: absolute;
    width: 191.46px;
    height: 191.46px;
    left: -7%;
    top: 2%;
    background-image: url(/static/img/gray_coin1.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.closest-event-block .orange-coin2{
    position: absolute;
    width: 112.28px;
    height: 149.1px;
    right: -8%;
    bottom: -40%;
    background-image: url(/static/img/orange_coin2.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.closest-event-block .orange-coin1{
    position: absolute;
    width: 236.18px;
    height: 320.08px;
    right: -19.4%;
    bottom: -19%;
    background-image: url(/static/img/orange_coin1.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.last-updates-block {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

.last-updates-block>.title {
    font-weight: 500;
    font-size: 55px;
    line-height: 66px;
    color: #1D3588;
    margin-bottom: 55px;
}

.last-updates-block .updates {
    display: flex;
    justify-content: space-between;
    /* height: 500px; */
    flex-wrap: wrap;
    text-align: center;
}

.updates .update-block {
    width: 41%;
    margin-bottom: 66px;
    padding: 4%;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgb(0 0 0 / 11%);
    border-radius: 23px;
}


.update-block .text-block .title {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #1D3588;
}

.update-block a{
    text-decoration: none;
}

.update-block .text-block .description {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 25px;
    height: 47%;
    max-height: 47%;
    overflow: auto;
}



.update-block .text-block .button, .update-block .button{
    background: #FFB74B;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    height: 40px;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}

.fa-star:before {
    content: "\f005";
    color: #e6e6e6;
}

.update-block .image{
    width: 40%;
    padding-bottom: 40%;
    display: inline-block;
    background-image: url(/static/img/title.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: top;
}

.update-block .text-block{
    width: 54%;
    padding-left: 5%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}


.about-block{
    display: flex;
    justify-content: space-around;
    margin-top: 213px;
    position: relative;
    z-index: 1;
    margin-bottom: 300px;
}

.about-block .river2{
    position: absolute;
    background-image: url(/static/img/river2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 125%;
    height: 183%;
    top: -40%;
    left: -12.5%;
    z-index: -1;
}

.about-block .under-block {
    display: flex;
    justify-content: space-between;
}

.about-block .image{
    width: 55%;
}

.about-block .text-block{
    width: 40%;
    text-align: left;
}

.about-block .text-block .title{
    font-weight: 500;
    font-size: 65px;
    line-height: 78px;
    color: #1D3588;
}

.about-block .text-block .description{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;    
    color: #232323;
    margin-top: 40px;
    margin-bottom: 40px;
}

.about-block .text-block .button{
    width: 50%;
    height: 40px;
    text-align: center;
    padding-top: 20px;
    background: #FFB74B;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 17px;
}

.why-we-block{
    width: 85%;
    margin: auto;
    text-align: center;
    z-index: 1;
    position: relative;
}

.why-we-block .title{
    font-weight: 500;
    font-size: 65px;
    line-height: 78px;
    color: #294197;
    margin-bottom: 80px;
}

.why-we-block .cases{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cases .case{
    width: 33%;
    text-align: center;
    margin-bottom: 80px;
}

.case.no-margin-bottom{
    margin-bottom: 0px;
}

.case .text {
    width: 60%;
    margin: auto;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
}   

.case .image{
    width: 30%;
    padding-bottom: 24%;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.case .image1{
    background-image: url(/static/img/why_we1.png);
}
.case .image2{
    background-image: url(/static/img/why_we2.png);
}
.case .image3{
    background-image: url(/static/img/why_we3.png);
}
.case .image4{
    background-image: url(/static/img/why_we4.png);
}
.case .image5{
    background-image: url(/static/img/why_we5.png);
}

.why-we-block .vectors1{
    position: absolute;
    top: 10%;
    left: -23.5%;
    z-index: -1;
    width: 562px;
    height: 354px;
    background-image: url(/static/img/vectors1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.why-we-block .vectors2{
    position: absolute;
    top: 10%;
    right: -23.5%;
    z-index: -1;
    width: 541px;
    height: 714px;
    background-image: url(/static/img/vectors2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.teach-block{
    width: 100%;
    margin-top: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teach-block .image{
    width: 40%;
    padding-bottom: 46%;
    background-image: url(/static/img/teach_block.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 0px;
}

.teach-block .info-block{
    width: 50%;
    z-index: 1;
}

.teach-block .title{
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #1D3588;
    margin-bottom: 30px;
    width: 100%;
}

.teach-block .info-block .title {
    font-weight: 500;
    font-size: 65px;
    line-height: 78px;    
    text-align: right;    
    color: #1D3588;
    width: 100%;
    text-align: right;
    margin-bottom: 60px;
}



.teach-block .info-block .items-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-block .items-block .item{
    width: 38%;
    background: linear-gradient(101.26deg, #FFB74B 2.1%, #FFD08B 88.51%);
    border-radius: 18px;
    height: 150px;
    margin-bottom: 60px;
    position: relative;
    padding: 5%;
    cursor: pointer;
    transition: 0.5s ease-out;
}



/* .info-block .items-block .item:hover .bg-block{
    background: linear-gradient(101.26deg, rgba(37, 61, 146, 0.5) 2.1%, rgba(68, 95, 188, 0.5) 88.51%);
    transition: 0.5s;
} 

.info-block .items-block .item:hover{
    background: linear-gradient(101.26deg, #253D92 2.1%, #445FBC 88.51%);
    transition: 0.5s !important;
} */

.info-block .items-block .item.no-margin-bottom{
    margin-bottom: 0px;
}

.info-block .items-block .item .half-circle{
    width: 14%;
    padding-bottom: 14%;
    position: absolute;
    z-index: 2;
    top: -14%;
    left: 43%;
    background: white;
    border-radius: 50%;
}

.info-block .items-block .item .bg-block{
    background: #FFDDA9;
    border-radius: 18px;
    width: 95%;
    height: 90%;
    position: absolute;
    z-index: -1;
    left: 2.5%;
    bottom: -6%;
    transition: 0.2s ease-out;
}

.info-block .items-block .item .title{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    margin: auto;
    margin-top: 12%;
    margin-bottom: 13px;
    width: 90%;
    
}

.info-block .items-block .item .text{
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;    
    color: #212121; 
}

.specialists-block{
    width: 100%;
    margin-top: 200px;
    /* z-index: 1; */
    position: relative;
}

.specialists-block .title{
    font-weight: 500;
    font-size: 65px;
    line-height: 78px;
    color: #1D3588;
    margin-bottom: 80px;
}

.specialists-block .specialists{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.specialists .specialist-wrap{
    width: 25%;
    max-width: 33%;
    padding: 5% 3% 5% 3%;
    background: linear-gradient(101.26deg, #253D92 2.1%, #445FBC 88.51%), #1D3588;
    border-radius: 15px;
    position: relative;
}

.specialists .specialist-wrap-fake{
    width: 25%;
    max-width: 33%;
    height: 1px;
    padding: 5% 3% 5% 3%;
}

.specialists .specialist-wrap.margin{
    margin-bottom: 100px;
}

.book-button {
    width: 100%;
    height: 100px;
    background: #FFB74B;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    border-radius: 6px;
    color: white !important;
    font-weight: 500;
    font-size: 17px;
    white-space: pre-line;
    line-height: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.specialist-block{
    background: #FFFFFF;
    border-radius: 15px;
    height: auto;
    padding: 34px;
    padding-top: 15%;
    position: relative;
    z-index: 1;
}

.specialist-block .avatar{
    position: absolute;
    width: 25%;
    padding-bottom: 25%;
    left: 37.5%;
    top: -10%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.specialist-wrap .bg{
    position: absolute;
    width: 50%;
    height: 42%;
    left: 2%;
    top: 2%;
    background-image: url(/static/img/specialist_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
}

.specialist-block .name{
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;    
    color: #1D3588;
}

.specialist-block .rating{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.specialist-block .country-block{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.country-block .flag, .event .flag{
    width: 29px;
    height: 21px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.event .flag{
    width: 4vh;
    height: 4vh;
}

.country-block .country{
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;    
    color: #FFAD31;
    margin-left: 5px;
    vertical-align: middle;
}
.rating span{
    font-size: 27px;
}

.specialist-block .description{
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: justify;    
    color: #000000;
    min-height: 250px;
    max-height: 250px;
    overflow: auto;
    padding-top: 20px;
    white-space: pre-wrap
}


.specialist-block .lections{
    background: linear-gradient(95.9deg, #D33434 -3.96%, #D75B5B 105.81%), #FFB74B;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    border-radius: 6px;
    width: 100%;
    text-align: center;
    height: 40px;
    padding-top: 20px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 50px;
    cursor: pointer;
}

.specialists-block .river3, .closest-event-block .river3{
    position: absolute;
    background-image: url(/static/img/river3.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 125%;
    height: 140%;
    top: 0px;
    left: -12.5%;
    z-index: -1;
}

.river3.hide-mobile.first, .river3.hide-mobile.second{
    position: absolute;
    background-image: url(/static/img/river3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 125%;
    height: 750px !important;
    top: 0px;
    left: -12.5%;
    z-index: -1;   
    background-position: center;
}

.river3.hide-mobile.second{
    transform: scale(-1, 1);    
    transform: rotate(180deg);
}


.specialists-block .l-coin1{
    position: absolute;
    /* width: 236.18px; */
    /* height: 320.08px; */
    right: -12%;
    top: -25%;
    background-image: url(/static/img/l_coin1.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    width: 131.89px;
    height: 156.18px;
}

.specialists-block .l-coin2{
    position: absolute;
    /* width: 112.28px; */
    /* height: 149.1px; */
    right: -5%;
    top: -5%;
    background-image: url(/static/img/l_coin2.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    width: 291.83px;
    height: 345.58px;
}

.review-block{
    width: 100%;
    text-align: center;
    margin-top: 200px;
}


.review-block .title{
    font-weight: 500;
    font-size: 65px;
    line-height: 78px;
    color: #1D3588;
    margin-bottom: 50px;
}

.review-block .partners-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partners-block .partner{
    width: 45%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.partner .image-border{
    width: 20%;
    max-width: 20%;
    background: url(/static/img/ellipse.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 25px;
    height: fit-content;
}

.image-border .image{
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 50%;
}

.partner .info-block {
    width: 60%;
    padding-left: 5%;
}

.partner .info-block .description {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    color: #000000;
    max-height: 66%;
    overflow: auto;
    white-space: pre-wrap;
    padding-right: 5px;
    text-align: left;
}


.partner .info-block .name {
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    text-align: justify;
    color: #3D58B3;
    text-align: left;
    margin-bottom: 5px;
}

.partner .info-block .date {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #838383;
    margin-top: 10px;
    text-align: right;
}

.book-now{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    margin-bottom: 150px;
}

.book-now .image{
    width: 40%;
    padding-bottom: 40%;
    background-image: url(/static/img/book_image.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.book-now .info-block{
    width: 40%;
    margin-top: 10%;
    position: relative;
    text-align: left;
}

.book-now .info-block .title{
    font-weight: 500;
    font-size: 65px;
    line-height: 78px;
    color: #1D3588;
    margin-bottom: 30px;
}

.book-now .info-block .text{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;    
    color: #000000;
    margin-bottom: 30px;
}

.book-now .info-block .button{
    width: 50%;
    height: 40px;
    text-align: center;
    padding-top: 20px;
    background: #FFB74B;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;    
    color: #FFFFFF;
    cursor: pointer;
}

.footer{
    max-width: 100%;
    height: 18px;
    margin: 0px;
    padding-top: 47px;
    padding-bottom: 47px;
    background: #2D2D2D;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer .bg{
    position: absolute;
    height: 250%;
    width: 100%;
    left: 0px;
    top: -213px;
    z-index: -1;
    background-image: url(/static/img/footer_bg.png);
    background-size: contain;
}

.footer .menu{
    width: 45%;
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;    
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

.menu a {
    text-decoration: none;
    color: white;
}

.footer .social{
    text-align: right;
    width: 30%;
}

.footer .social a{
    text-decoration: none;
}

.footer .social .item{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.footer .social .item.no-margin{
    margin-left: 0px;
}

.footer .social .facebook{
    background-image: url(/static/img/facebook_white.svg);
}

.footer .social .twitter{
    background-image: url(/static/img/twitter_white.svg);
}

.footer .social .instagram{
    background-image: url(/static/img/instagram_white.svg);
}

.footer .social .youtube{
    background-image: url(/static/img/youtube_white.svg);
}

.footer .social .telegram{
    background-image: url(/static/img/telegram_white.svg);
}

.mobile-header{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    position: relative;
}   


.mobile-header .button{
    width: 25px;
    height: 25px;
    margin-top: 5px;
    background: url(/static/img/mobile_button.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.1s;
}

.mobile-menu .button{
    width: 25px;
    height: 25px;
    background: url(/static/img/mobile_button_white.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.1s;
    margin-top: 85px;
}

.mobile-header .fake-button{
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.mobile-header .button.active{
    background: url(/static/img/mobile_button_white.png);
    transition: 0.1s;
}

.mobile-header .logo{
    width: 35%;
    height: 33px;
    background: url(/static/img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


.mobile-menu{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 0%;
    height: 100%;
    z-index: 25;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    background: linear-gradient(171.2deg, rgba(29, 53, 136, 0.8) 17.78%, rgba(68, 95, 188, 0.8) 99.21%);
    backdrop-filter: blur(7px);

    transition: 0.3s;
}

.mobile-menu .menu{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 30%;
}

.mobile-menu .menu .item{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;    
    color: #FFFFFF;
}

.mobile-menu .pages{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 10%;
}

.mobile-menu .pages .item{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E1F6FF;
}

.mobile-menu .social{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    height: 34px;
    width: 90%;
}

.mobile-menu .social .item{
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.mobile-menu .social .item.facebook{
    background-image: url(/static/img/facebook_white.svg);
}
.mobile-menu .social .item.twitter{
    background-image: url(/static/img/twitter_white.svg);
}
.mobile-menu .social .item.instagram{
    background-image: url(/static/img/instagram_white.svg);
}
.mobile-menu .social .item.youtube{
    background-image: url(/static/img/youtube_white.svg);
}
.mobile-menu .social .item.telegram{
    background-image: url(/static/img/telegram_white.svg);
}

.mobile-footer{
    width: 100%;
    margin-top: 50px;
    height: 114px;
    background-image: url(/static/img/footer_bg.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}


.sort-block{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.sort-block .title{
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    color: #1D3588;
    margin-bottom: 30px;
}

.sort-block .sorts{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.sort-block .sorts .item, .sort-block .sorts .item:focus {
    width: 45%;
    background: #F2F2F2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 15px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    border: none;
    outline: none;
    color: #B0B0B0;
}

.sort-block .sorts .item option{
    font-weight: 300;
}

select.sort-quests{
    height: 100%;
    width: 100%;
    background: #F2F2F2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    display: inline-block;
    color: #B0B0B0;
    font-size: 17px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    outline: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    font-weight: 300;
}

select.sort-quests option{
    background: #F2F2F2 !important;
    color: #B0B0B0 !important;
    border: none;
    border-top: 1px solid #D6D6D6 !important;
    font-weight: 300;
    font-size: 17px;
}

label.select{
    position: relative;
}
label.select:after{
    content: '>';
    font: 30px "Consolas", monospace;
    color: #B0B0B0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    padding: 0px;
    position: absolute;
    z-index: 5;
    pointer-events: none;
    font-weight: bold;
    height: 100%;
    width: 20%;
}


.scrollable{
    overflow: auto;
    max-height: 440px;
}
.scrollable::-webkit-scrollbar {
    width: 8px;
}
  
  /* Track */
.scrollable::-webkit-scrollbar-track {
    background: #E2E2E2;
    
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
    background: #c9c9c9; 
    
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
    background: #c4c3c3; 
}

.no-found-block {
    width: 100%;
    font-size: 45px;
    text-align: center;
    margin-top: 10%;
}

.sorts input.name, .sorts input.name:focus{
    width: 25%;
    height: 100%;
    background: #F2F2F2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    display: inline-block;
    color: #B0B0B0;
    font-size: 17px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    outline: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    font-weight: 300;
}

@media(max-width: 1720px){
    .text-block .title{
        font-size: 25px;
        line-height: 28px;
        margin-bottom: 7px;
    }
    .left-side .key, .left-side .value{
        font-size: 17px;
        line-height: 20px !important;
    }
    
    .text-block .description-block{
        font-size: 14px;
        line-height: 17px;
        max-height: 150px;
        min-height: 150px;
    }
    .buy-block .buttons{
        width: 60%; 
    }
}

@media(max-width: 1600px){
    .menu-block{
        padding-top: 20px;
    }
    .sort-block .sorts{
        height: 40px;
    }
    .specialists-block .l-coin1{
        right: -12%;
        top: -15%;
        width: 100px;
        height: 125px;
    }
    .specialists-block .l-coin2{
        width: 200px;
        height: 250px;
        right: -10%;
        top: 0%;
    }
    .update-block .text-block .description{
        font-size: 15px;
        line-height: 18px;
    }
    .update-block .text-block .title{
        font-size: 20px;
        line-height: 23px;
    }
    .title-block .under-title{
        font-size: 22px;
        line-height: 25px;
    }
    .logos-block .logo{
        width: 150px;
    }

    .item .text{
        font-size: 18px;
    }
    .social-block .logos{
        margin-top: 17px;
        height: 30px;
    }
    .logos .logo1{
        padding: 5px 15px 5px 15px;
        width: 80px;
        
    }
    .logos .logo2{
        width: 100px;
    }
    .events-button{
        font-size: 11px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 35px;
        padding-right: 35px;
        height: 20px;
        margin-top: 10px;
    }
    .teach-block .info-block .title{
        font-size: 35px;
    }
    .specialists-block .title{
        font-size: 40px;
    }
    .book-now .info-block .title{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .book-now .info-block .text{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .book-now .info-block .button{
        height: 35px;
        padding-top: 15px;
    }
    .review-block .title{
        font-size: 35px;
        margin-bottom: 0px;
    }
    .partner .info-block .description{
        font-size: 13px;
        line-height: 16px;
    }
    .partner .info-block .name{
        font-size: 17px;
    }
    .partner .info-block .date{
        font-size: 13px;
    }
    .why-we-block .title{
        font-size: 35px;
    }
    .title-block .title{
        font-size: 50px;
        line-height: 70px;
    }
    .country-block .country{
        font-size: 15px;
    }
    .specialist-block .description{
        font-size: 14px;
    }
    .specialist-block .lections{
        font-size: 14px;
    }
    .specialist-block .name{
        font-size: 22px;
    }
    /* .rating .rateit{
        font-size: 20px !important;
    } */
    .no-found-block {
        font-size: 35px;
    }
    .river3.hide-mobile.first, .river3.hide-mobile.second{
        height: 570px !important;
    }
    .buttons .left-places, .buttons .order{
        font-size: 12px;
        
    }
    .title-block .title-button{
        width: 200px;
        padding-top: 9px;
        height: 28px;
        font-size: 14px;
    }
    .closest-event-block .event{
        padding: 50px;
    }
    .text-block .title{
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 10px;
    }
    .left-side .key, .left-side .value{
        font-size: 17px;
        line-height: 20px !important;
    }
    .left-side .item{
        margin-bottom: 10px;
    }
    
    .text-block .description-block{
        font-size: 14px;
        max-height: 150px;
        min-height: 100px;
        line-height: 16px;
    }
    .buy-block .buttons{
        width: 60%;
    }
    .buttons .left-places{
        margin-bottom: 10px;
    }
    .last-updates-block>.title{
        font-size: 40px;
    }
    .socials .item{
        width: 30px;
        height: 30px;
    }
    .empty-event .title{
        font-size: 35px;
    }
}



@media(max-width: 1400px) {
    .book-button{
        font-size: 14px;
        line-height: 20px;
        height: 75px;
    }
    .item .text{
        font-size: 15px;
    }
    .first-block .image-block{
        height: 550px;
    }
    .info-block .items-block .item .title{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .info-block .items-block .item .text{
        font-size: 14px;
        line-height: 17px;
    }
    .info-block .items-block .item{
        padding: 3%;
        height: 125px;
    }
    .case .text{
        font-size: 12px;
    }
    .about-block .text-block .button{
        font-size: 14px;
        height: 30px;
        padding-top: 15px;
    }
    .update-block .text-block .description{
        font-size: 13px;
        line-height: 16px;
    }
    .update-block .text-block .button, .update-block .button{
        height: 30px;
        padding-top: 15px;
        font-size: 14px;
    }
    .update-block .text-block .title{
        font-size: 16px;
        line-height: 19px;
    }
    .last-updates-block>.title{
        font-size: 30px;
    }
    .buy-block .qr{
        width: 90px;
        padding-bottom: 90px;
    }
    .closest-event-block .gray-coin1{
        width: 150px;
        height: 150px;
        top: 7%;
    }
    .closest-event-block .gray-coin2{
        width: 250px;
        height: 250px;
        top: 25%;
    }
    .closest-event-block .orange-coin1{
        width: 180px;
        height: 240px;
    }
    .closest-event-block .orange-coin2{
        right: -3%;
        bottom: -57%;
    }
    .see-events-block .text{
        font-size: 14px;
        line-height: 17px;
    }
    .see-events-block .arrow{
        width: 70px;
        height: 10px;
    }
    .title-block .under-title{
        font-size: 12px;
    }
    .order .arrow{
        top: 47%;
        height: 12%;
        width: 20%;
    }
    .buttons .order, .buttons .left-places{
        font-size: 14px;
    }
    .event .text-block{
        margin-top: 5px;
    }
    .event .text-block .title{
        font-size: 20px;
    }
    .item .key, .item .value{
        font-size: 17px;
    }
    .event .text-block .description-block{
        font-size: 12px;
        line-height: 14px;
        min-height: 140px;
    }
    .closest-event-block .title{
        font-size: 40px;
    }

    .empty-event .title{
        font-size: 30px;
        margin-bottom: 10px !important;
    }

    .empty-event .under-title{
        font-size: 14px;
        line-height: 18px;
    }

    .empty-event .buttons .telegram, .empty-event .buttons .instagram{
        height: 40px;
        font-size: 14px;
    }

    .about-block .text-block .title{
        font-size: 35px;
        line-height: 40px;
    }
    .about-block .text-block .description{
        font-size: 12px;
        margin-top: 30px;
        margin-bottom: 30px
    }
    .title-block .title{
        font-size: 36px;
        line-height: 55px;
    }
    .title-block{
        padding: 5%;
    }
    .country-block .country{
        font-size: 11px;
    }
    .specialist-block .description{
        font-size: 12px;
        max-height: 175px;
        min-height: 175px;
    }
    .specialist-block .lections{
        font-size: 12px;
    }
    .specialist-block .name{
        font-size: 16px;
    }
    .no-found-block {
        font-size: 25px;
    }
    .river3.hide-mobile.first, .river3.hide-mobile.second{
        height: 520px !important;
    }
    .buttons .left-places, .buttons .order{
        font-size: 10px;
    }
    .title-block .title-button{
        width: 200px;
        padding-top: 9px;
        height: 28px;
        font-size: 14px;
    }
    .closest-event-block .event{
        padding: 40px;
    }
    .text-block .title{
        font-size: 25px;
        line-height: 29px;
        margin: 0px;
        margin-bottom: 8px;
    }
    .left-side .key, .left-side .value{
        font-size: 11px;
        line-height: 14px !important; 
        margin-right: 2px;
    }
    .left-side .item{
        margin-bottom: 5px;
    }
    .text-block .description-block{
        font-size: 12px;
        line-height: 14px;
    }
    .specialist-block{
        padding: 25px;
    }
    .about-block{
        margin-bottom: 200px;
    }
}

@media(max-width: 1300px){
    .event .text-block .description-block{
        min-height: 100px;
        max-height: 100px;
    }
}

@media(max-width: 900px){
    .book-button {
        font-size: 10px;
        line-height: 17px;
        height: 60px;
    }
    .show-mobile{
        display: block !important;
    }
    .show-mobile-flex{
        display: flex !important;
    }
    .hide-mobile{
        display: none !important;
    }
    .wrap{
        width: 85%;
    }
    html{
        min-width: 0px;
    }
    .about-block .river2{
        width: 121.3%;
    }
    .specialists-block .river3, .closest-event-block .river3{
        width: 121.5%;
    }
    .event .planet{
        height: 70%;
        width: 130%;
        left: -15%;
        top: -5%;
        background-size: cover;
        background-position: center;
    }
    .closest-event-block .title{
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 32px;
    }
    .closest-event-block .event{
        padding: 20px;
        border-radius: 15px;
    }
    .event .image{
        display: block;
        width: 100%;
        max-width: 100%;
        padding-bottom: 80%;
        border-radius: 20px;
        background-size: cover;
        background-position: center;
    }
    .event .text-block{
        display: block;
        width: 100%;
        max-width: 100%;
        padding-left: 0px;
    }
    .event .text-block .title {
        font-size: 18px;
        text-align: center;
    }
    .text-block .info-block{
        width: 100%;
        max-width: 100%;
        display: block;
    }
    .info-block .left-side{
        display: block;
        width: 100%;
        margin-left: 0px !important;
    }
    .left-side .item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .item .key, .item .value{
        font-size: 14px;
    }
    .buy-block .buttons{
        width: 100%;
        height: 100px;
    }
    .buy-block .qr{
        width: 50%;
        padding-bottom: 50%;
        display: block;
        margin-left: 0px;
        margin: auto;
        margin-top: 10px;
    }
    .buttons .left-places, .buttons .order{
        height: 40px;
        padding: 0px;
    }
    .closest-event-block{
        margin-top: 100px;
    }
    .first-block{
        flex-wrap: wrap-reverse;
    }
    .first-block .title-block{
        width: 100%;
    }
    .first-block .title-block .title{
        font-size: 20px;
        line-height: 32px;
        text-align: center;
    }
    .first-block .title-block .under-title{
        font-size: 13px;
        margin-top: 10px;
        text-align: center;
    }
    .first-block .title-block .title-button{
        margin-top: 20px;
        width: 100%;
    }
    .first-block .image-block{
        height: 0px;
        padding-bottom: 100%;
        width: 100%;
    }
    .logos .logo1{
        padding: 7px 20px 7px 20px;
        width: 55px;
    }
    .social-block .logos{
        margin-top: 17px;
        height: 30px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .last-updates-block>.title{
        font-size: 23px;
        margin-bottom: 40px;
        line-height: 35px;
    }
    .updates .update-block{
        width: 100%;
        height: fit-content;
        padding: 20px;
    }
    .update-block .text-block .title{
        font-size: 14px;
        line-height: 17px;
    }
    .update-block .text-block .description{
        font-size: 11px;
        line-height: 14px;
        max-height: 70px;
        overflow: auto;
    }
    .update-block .text-block .button, .update-block .button{
        width: 80%;
        margin: auto;
        margin-top: 10px;
        height: 35px;
        padding-top: 15px;
    }
    .update-block .text-block{
        padding-left: 0%;
    }
    .about-block{
        margin-top: 100px;
        flex-wrap: wrap;
    }
    .about-block .image{
        background-position: center;
        width: 100%;
        margin-bottom: 30px;
        height: 200px;
    }
    .about-block .text-block{
        width: 100%;
    }
    .about-block .text-block .title{
        font-size: 40px;
        text-align: center;
    }
    .about-block .text-block .button{
        width: 100%;
    }
    .about-block .river2{
        top: 11%;
        height: 26%;
        background-size: cover;
    }
    .why-we-block{
        margin-top: 100px;
        width: 100%;
    }
    .why-we-block .title{
        font-size: 23px;
        line-height: 20px;
    }
    .cases .case{
        width: 50%;
    }
    .case .image{
        width: 50%;
        padding-bottom: 50%;
    }
    .case .text{
        width: 90%;
        font-size: 12px;
        line-height: 15px;
    }
    .teach-block{
        margin-top: 150px;
        flex-wrap: wrap;
    }
    .teach-block .image{
        width: 100%;
        padding-bottom: 100%;
        background-position: center;    
    }
    .teach-block .info-block{
        width: 100%;
        margin-top: 30px;
    }
    .info-block .items-block .item .title{
        font-size: 15px;
        line-height: 16px;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .info-block .items-block .item .text{
        font-size: 12px;
        line-height: 14px;
    }
    .info-block .items-block .item{
        height: auto;
    }
    .specialists-block{
        margin-top: 150px;
    }
    .specialists-block .title{
        font-size: 23px;
        text-align: center;
        margin-bottom: 40px;
    }
    .specialists-block .river3, .closest-event-block .river3{
        background-size: cover;
        height: 400px;
    }
    .specialists-block .specialists{
        flex-wrap: wrap;
    }
    .specialists .specialist-wrap{
        width: 100%;
        max-width: 100%;
        margin-bottom: 40px;
        padding: 15% 5% 15% 5%;
    }
    .specialists .specialist-wrap-fake{
        display: none;
    }
    .specialist-block .avatar{
        width: 30%;
        padding-bottom: 30%;
        left: 35%;
        top: -8%;
    }
    .specialist-wrap .bg{
        width: 60%;
        height: 30%;
        left: 0;
        top: 0;
        background-size: cover;
    }
    .review-block .title{
        font-size: 23px;
        line-height: 28px;
        margin-bottom: 50px;
    }
    .partners-block .partner{
        width: 100%;
        margin-bottom: 50px;
    }
    .partner .info-block .name{
        font-size: 14px;
        line-height: 17px;
    }
    .partner .info-block .description{
        font-size: 12px;
        line-height: 14px;
    }
    .partner .image-border{
        padding: 15px;
        width: 25%;
        max-width: 25%;
    }
    .book-now{
        margin-bottom: 0px;
        flex-wrap: wrap-reverse;
    }
    .book-now .info-block{
        width: 100%;
        margin-top: 30px;
    }
    .book-now .image{
        width: 100%;
        padding-bottom: 100%;
    }
    .book-now .info-block .title{
        font-size: 23px;
        line-height: 28px;
        margin-bottom: 11px;
    }
    .book-now .info-block .text{
        font-size: 12px;
        line-height: 14px;
    }
    .book-now .info-block .button{
        width: 100%;
    }
    .specialist-block .lections{
        font-size: 11px;
    }
    .no-found-block {
        font-size: 17px;
    }
    .sort-block .sorts{
        margin-top: 50px;
        flex-wrap: wrap;
        height: auto;
    }
    .sorts label, .sorts input.name, .sorts input.name:focus{
        width: 100% !important;
        margin-bottom: 30px;
        height: 50px;
    }
    .sort-block{
        margin-bottom: 0px;
    }
    .about-block{
        margin-bottom: 150px;
    }
    .empty-event .title{
        font-size: 15px;
        line-height: 19px;
    }
    .empty-event{
        padding: 12%;
        border-radius: 30px;
    }
    .empty-event .buttons .telegram, .empty-event .buttons .instagram{
        font-size: 11px;
        width: 100%;
        line-height: 14px;
        margin-top: 15px;
    }
    .employers__list{
		height: 700px !important;
	}
	.employers__list li{
		height: 700px !important;
	}
    .employers-wrapper .employers__list .employers__item{
        flex-wrap: wrap;
    }
    .employers-wrapper .employers__list .employers__item .employer-image {
        height: 300px;
        padding: 0px;
        padding-top: 40px;
        width: 100% !important;
        border-radius: 14px 14px 0px 0px;
        box-shadow: none;
        background: #eaeaea;
    }
    .employers-wrapper .employers__list .employers__item .employer-image img {
        width: 70%;
        border-radius: 17px;
        margin: auto;
    }
    .employers__item .text-block{
        height: 275px;
        border-radius: 0px 0px 14px 14px;
        padding: 10%;
    }
    .employers-wrapper .employers__list .employers__item{
        flex-direction: column;
        justify-content: start;
    }
    .specialist-block .name{
        margin-top: 20px;
    }
}   
