.navigation {
  width: 100%;
  margin-bottom: 70px;
  height: 50px;
}
  
.navigation li {
  display: inline-block;
  font-weight: bold;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
  margin: 4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FFAC30;
}

.navigation ul {
  text-align: center;
  height: inherit;
  padding: 0px;
}

.page-current {
    color: white;
    background: #C18F44 !important;
}

.page-nav {
  color: white;
  background: #fff;
}

.page-nav:hover {
  background: #C18F44 !important;
}

.navigation a {
  color: white;
}

.navigation a,
.navigation span {
  display: block;
  padding: 15px 12px 18px;
  min-width: 14px;
}

@media (max-width: 550px) {
    .navigation a,
    .navigation span {
        padding: 9px;
    }
    .navigation li {
        width: 40px;
        height: 40px;
    }
    .navigation{
      margin-bottom: 0px;
    }

    .navigation .active {
        border-left: 3px solid rgba(47, 76, 109, 0.8);
        border-right: 3px solid rgba(47, 76, 109, 0.8);
        border-bottom: none;
    }
    .pages {
        flex-direction: column;
        display: none;
    }
    .page {
        width: auto;
    }
    .page:hover {
        border-left: 3px solid rgba(47, 76, 109, 0.6);
        border-right: 3px solid rgba(47, 76, 109, 0.6);
        border-bottom: none;
    }
}