{% load static %}

{% block links %}
    <head>        
        <meta property="og:image" content="https://oceans-wave.org{%static 'img/logo.png'%}"/>
        <script src="{%static 'js/jquery.min.js'%}"></script>
        <script src="{%static 'js/lightslider.js'%}"></script>
        <script src="{%static 'js/slider.js'%}"></script>
        <link rel="stylesheet" href="{%static 'css/lightslider.css'%}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Oceans Wave</title>
        <link rel="stylesheet" href="{%static 'css/index.css'%}">        
        <link rel="shortcut icon" href="{%static 'img/icon.ico'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'fonts/stylesheet.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{%static 'rateit/rateit.css'%}">
        <script src="{%static 'rateit/jquery.rateit.js'%}"></script>
        <script src="{%static 'js/functions.js'%}"></script>
        <link rel="stylesheet" type="text/css" href="{%static 'css/pagination.css'%}">
        <style>
            .checked{
                background: linear-gradient(103.4deg, #FFAC30 29.02%, #FFD08B 88.66%);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
            }
        </style>
        <script src="{%static 'js/hover.js'%}"></script>
        {% block styles %}

        {% endblock %}
    </head>
{% endblock %}



{% block body%}
    <body>
        {%block telegram%}
            <a href="https://t.me/oceanswavenews" >
                <div class="telegram-block" id="telegram-link">
                    <div class="button">Telegram Канал</div>
                    
                </div>
            </a>
            <div class="close-telegram" id="close-telegram"></div>
        {%endblock%}
        {%block river%}{%endblock%}
        <div class="wrap">
            <div class="header hide-mobile"> 
                <a href="{%url 'main:index'%}">
                    <div class="logos-block">
                        <div class="logo" style="background-image: url({%static 'img/logo.svg'%});"></div>            
                    </div>
                </a>                
                <div class="menu-block">
                    <div class="item scrollto">
                        <a href="/#">
                            <div class="text">Главная</div>
                        </a>                    
                        <div class="item-underline"></div>
                    </div>
                    <div class="item scrollto">
                        <a href="/#about">
                            <div class="text">О нас</div>
                        </a>                    
                        <div class="item-underline"></div>
                    </div>
                    <div class="item scrollto">
                        <a href="/#why">
                            <div class="text">Преимущества</div>
                        </a>                    
                        <div class="item-underline"></div>
                    </div>
                    <div class="item no-margin-right scrollto">
                        <a href="/#specialists">
                            <div class="text">Консультанты</div>
                        </a>
                        
                        <div class="item-underline"></div>
                    </div>                
                </div>
                <a href="{%url 'main:events'%}">
                    <div class="events-button">Список мероприятий</div>
                </a>                
            </div>
    
            <div class="mobile-header show-mobile-flex">            
                <div class="button" id="nav_button" onclick="open_close_Nav()"></div>
                <a href="{%url 'main:index'%}" class="logo">
                    
                </a>                
            </div>
    
            <div class="mobile-menu show-mobile-flex" id="nav">
                    <div class="button" onclick="open_close_Nav()"></div>
                    <div class="menu scrollto">
                        <a href="/#">
                            <div class="item">Главная</div>
                        </a>
                        <a href="/#about">
                            <div class="item">О нас</div>
                        </a>
                        <a href="/#why">
                            <div class="item">Преимущества</div>
                        </a>
                        <a href="/#specialists">
                            <div class="item">Консультанты</div>
                        </a>
                    </div>
                    <div class="pages">
                        <a href="{%url 'main:specialists'%}">
                            <div class="item">Список консультантов</div>
                        </a>
                        <a href="{%url 'main:events'%}">
                            <div class="item">Список мероприятий</div>
                        </a>
                    </div>
                    <div class="social">
                        <a href="https://www.facebook.com/SmartTradeCoin/">
                            <div class="item facebook"></div>
                        </a>
                        <a href="https://twitter.com/SmartTradeCoin">
                            <div class="item twitter"></div>
                        </a>
                        <a href="https://instagram.com/oceans_wave_networking?utm_medium=copy_link">
                            <div class="item instagram"></div>
                        </a>
                        <a href="https://www.youtube.com/channel/UCMByuH8s8YdtA4WkVGidJ-Q">
                            <div class="item youtube"></div>
                        </a>
                        <a href="https://t.me/smarttradecoinofficial">
                            <div class="item telegram"></div>
                        </a>
                    </div>
            </div>
            {%block content%}

            {%endblock%}             
        </div>
    </body>                      
{% endblock %}


{%block footer%}
    <div class="footer hide-mobile">
        <div class="bg"></div>
        <div class="menu scrollto">
            <a href="/#">Главная</a>
            <a href="/#about">О нас</a>
            <a href="/#why">Преимущества</a>
            <a href="/#specialists">Консультанты</a>                
        </div>
        <div class="social">
            <a href="https://www.facebook.com/SmartTradeCoin/">
                <div class="item facebook"></div>
            </a>                
            <a href="https://twitter.com/SmartTradeCoin">
                <div class="item twitter"></div>
            </a>                
            <a href="https://instagram.com/oceans_wave_networking?utm_medium=copy_link">
                <div class="item instagram"></div>
            </a>
            <a href="https://www.youtube.com/channel/UCMByuH8s8YdtA4WkVGidJ-Q">
                <div class="item youtube"></div>
            </a>
            <a href="https://t.me/smarttradecoinofficial">
                <div class="item telegram"></div>
            </a>
        </div>
    </div>
    <div class="mobile-footer show-mobile"></div>
{%endblock%}

<style type="text/css">
    #hellopreloader>p {
    display: none;
    }

    #hellopreloader_preload {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100px;
    background: #F1F2F3 url({%static 'img/preloader.gif'%}) center center no-repeat;
    background-size: 20%;
    }
</style>
<div id="hellopreloader">
    <div id="hellopreloader_preload"></div>
</div>
<script type="text/javascript">
    var hellopreloader = document.getElementById("hellopreloader_preload");

    function fadeOutnojquery(el) {
    el.style.opacity = 1;
    var interhellopreloader = setInterval(function () {
        el.style.opacity = el.style.opacity - 0.05;
        if (el.style.opacity <= 0.05) {
        clearInterval(interhellopreloader);
        hellopreloader.style.display = "none";
        document.getElementsByTagName("html")[0].style.overflow = "";
        }
    }, 16);
    }
    window.onload = function () {


    setTimeout(function () {
        fadeOutnojquery(hellopreloader);
    }, 100);
    };

</script>

{%block scripts%}
{%endblock%}