{% extends "base.html" %}
{%load static%}

{%block styles%}
<meta property="og:image" content="http://oceans-wave.org{%static 'img/logo.png'%}"/>                
<meta property="og:image:secure_url" content="https://oceans-wave.org{%static 'img/logo.png'%}"/>        
<meta property="og:image:type" content="image/png" /> 
<meta property="og:image:width" content="400" /> 
<meta property="og:image:height" content="400" />
{%endblock%}

{%block river%}
    <div class="river1 hide-mobile"></div>
{%endblock%}

{%block content%}
    <div class="first-block">
        <div class="title-block">
            <div class="title">
                Научись торговать за одно мероприятие!
            </div>
            <div class="under-title">
                В наше время торговоать может каждый, здесь ты найдёшь всю необходимую информацию, чтобы начать зарабатывать
            </div>
            <a href="{%url 'main:events'%}">
                <div class="title-button">Список мероприятий</div>
            </a>            
        </div>
        <div class="image-block"></div>
    </div>

    <div class="social-block">
        <div class="socials hide-mobile">
            <a href="https://www.facebook.com/SmartTradeCoin/">
                <div class="facebook item"></div>
            </a>
            <a href="https://twitter.com/SmartTradeCoin">
                <div class="twitter item"></div>
            </a>            
            <a href="https://instagram.com/oceans_wave_networking?utm_medium=copy_link">
                <div class="instagram item"></div>
            </a>            
            <a href="https://www.youtube.com/channel/UCMByuH8s8YdtA4WkVGidJ-Q">
                <div class="youtube item"></div>
            </a>            
            <a href="https://t.me/smarttradecoinofficial">
                <div class="telegram item no-margin-right"></div>
            </a>            
        </div>
        <div class="arrow-down hide-mobile" id="hover-arrow"></div>
        <div class="logos">
            <a href="https://smarttradecoin.com/">
                <div class="logo1 item">
                    <div class="logo"></div>
                </div>
            </a>
            <a href="https://tube.oceans-online.com/">
                <div class="logo2 item no-margin-right"></div>
            </a>            
        </div>
    </div>

    <div class="closest-event-block" id="event">
        <div class="gray-coin2 hide-mobile"></div>
        <div class="gray-coin1 hide-mobile"></div>

        <div class="orange-coin2 hide-mobile"></div>
        <div class="orange-coin1 hide-mobile"></div>

        <div class="title">Ближайшее мероприятие</div>
        {%if closest_event%}
        <div class="event">
            <div class="planet"></div>
            {%if closest_event.pdf_file%}
                <a href="{{closest_event.pdf_file.url}}" download>
                    <div class="download-pdf hide-mobile" title="Скачать" ></div>
                </a>
            {%endif%}
            
            <div class="image" style="background-image: url({%if closest_event.image %}{{closest_event.image.url}}{%else%}{%static 'img/default_img.png'%}{%endif%});"></div>
            <div class="text-block">
                <div class="title">
                    <div class="flag" style="background-image: url({{closest_event.country.flag.url}});"></div>
                    {{closest_event.name}}
                </div>
                <div class="info-block">
                    <div class="left-side">
                        <div class="item">
                            <div class="key">Дата: </div>
                            <div class="value">{{closest_event.ru_date}}</div>
                        </div>
                        <div class="item">
                            <div class="key">Ведущий: </div>
                            <div class="value">{{closest_event.teacher}}</div>
                        </div>
                    </div>
                    <div class="left-side" >
                        
                            <div class="item">
                                <div class="key">Время:</div>
                                <div class="value">{{closest_event.start_time|date:'H:i'}} - {{closest_event.end_time|date:'H:i'}}</div>
                            </div>
                        
                        <div class="item" style="margin-bottom: 0px;">
                            <div class="key">Стоимость: </div>
                            <div class="value">{{closest_event.price}}</div>
                        </div>
                    </div>
                    <div class="left-side full" >
                        <div class="item full">
                            <div class="key">Локация:</div>
                            <div class="value">{{closest_event.location}}</div>
                        </div>                        
                    </div>
                </div>

                <div class="description-block scrollable">{{closest_event.description}}</div>

                <div class="buy-block">
                    <a href="https://wa.me/{{closest_event.assistant.phone}}" class="book-button">Для брони обратитесь к консультанту
                    {{closest_event.assistant.name}} {{closest_event.assistant.phone}}
                    </a>                    
                </div>
            </div>
        </div>
        {%else%}
            <div class="empty-event">
                <div class="title">Здесь пока ничего нет</div>
                <div class="under-title">Следи за новостями на нашем Telegram канале и на странице Instagram. Узнавай новости раньше того, как они появятся здесь!</div>
                <div class="image"></div>
                <div class="buttons">
                    <a href="https://t.me/oceanswavenews" class="telegram">
                        <div class="">Telegram канал</div>
                    </a>
                    <a href="https://instagram.com/oceans_wave_networking?utm_medium=copy_link" class="instagram">
                        
                            <div class="icon"></div>
                            <div class="text">Instagram</div>
                        
                    </a>                    
                </div>
            </div>
        {%endif%}
    </div>

    <div class="see-events-block hide-mobile">
        <a href="{%url 'main:events'%}">
            <div class="text">Смотреть все</div>            
            <div class="arrow"></div>            
        </a>        
    </div>

    <div class="last-updates-block">
        <div class="title">Последние обновления</div>
        <div class="updates">
            {%for new in news%}
                <div class="update-block">
                    <div class="image" style="background-image: url({%if new.image%}{{new.image.url}}{%else%}{%static 'img/default_img.png'%}{%endif%});"></div>
                    <div class="text-block">
                        <div class="title">
                            {{new.title}}
                        </div>
                        <div class="description scrollable">{{new.description}}</div>
                        <a href="{{new.source_link}}" >
                            <div class="button hide-mobile">
                                Перейти
                            </div>                            
                        </a>
                    </div>
                    <a href="{{new.source_link}}" class="button show-mobile">
                        Перейти
                    </a>                    
                </div>
            {%endfor%}            
        </div>
        

    </div>

    <div class="about-block" id="about">
        <div class="river2"></div>
        <iframe src="https://www.youtube.com/embed/MVbZR2vcB1E" class="image"></iframe>
        <div class="text-block">
            <div class="title">
                О нас
            </div>
            <div class="description">
                <p>Данный Networking был создан не “любителями” в сфере криптовалют, а профессионалами своего дела которые хотят поделится волнами информации большого океана опыта и знании о крипте .</p> 
                <p>Так был создан первый Networking для начинающих под названием “Oceans-Wave”.</p>
                <p>Основателем Networking-а является успешный трейдер, инвестор, финансовый консультант занимающийся своим делом с 2015 года - Амре Кабылаш .</p>
            </div>

            <div class="under-block">
                <a href="{%url 'main:events'%}" class="button">
                    <div>Список мероприятий</div>
                </a>                            
                <div class="socials hide-mobile">                    
                    <a href="https://instagram.com/oceans_wave_networking?utm_medium=copy_link">
                        <div class="instagram item"></div>
                    </a>            
                    <a href="https://www.youtube.com/channel/UCMByuH8s8YdtA4WkVGidJ-Q">
                        <div class="youtube item"></div>
                    </a>                                
                </div>
                    
                
            </div>
            
        </div>
    </div>

    <div class="why-we-block" id="why">
        <div class="vectors1 hide-mobile"></div>
        <div class="vectors2 hide-mobile"></div>

        <div class="title">Почему тебе это нужно?</div>
        <div class="cases">
            <div class="case">
                <div class="image image1"></div>
                <div class="text">Ежедневный поток информации от консультантов</div>
            </div>
            <div class="case">
                <div class="image image2"></div>
                <div class="text">Акселерация. Многократное ускорение на пути к достижению цели.</div>
            </div>
            <div class="case">
                <div class="image image3"></div>
                <div class="text">Новое сильное окружение, которое будет тянуть вас вверх и сделает успешнее.</div>
            </div>
            <div class="case no-margin-bottom">
                <div class="image image4"></div>
                <div class="text">Business Networking как новый формат яркой жизни.</div>
            </div>
            <div class="case no-margin-bottom">
                <div class="image image5"></div>
                <div class="text">Наставник, который сэкономит уйму времени на самообразование</div>
            </div>
        </div>
    </div>

    <div class="teach-block">
        <div class="title show-mobile">Чему ты научишься?</div>
        <div class="image"></div>            
        <div class="info-block">
            <div class="title hide-mobile">Чему ты научишься?</div>
            <div class="items-block">
                <div class="item" id="item1">
                    <div class="half-circle"></div>
                    <div class="bg-block"></div>
                    <div class="title">Анализ рынка</div>
                    <div class="text">Научись торговать без фундоментального и технического анализа</div>
                </div>
                <div class="item" id="item2">
                    <div class="half-circle"></div>
                    <div class="bg-block"></div>
                    <div class="title">Пассивный доход</div>
                    <div class="text">Начни получать стабильную прибыль ежемесячно торгуя на автомате</div>
                </div>
                <div class="item no-margin-bottom"  id="item3">
                    <div class="half-circle"></div>
                    <div class="bg-block"></div>
                    <div class="title">Торговля без рисков</div>
                    <div class="text">увеличь количество криптовалют (BTC, ETH)</div>
                </div>
                <div class="item no-margin-bottom" id="item4">
                    <div class="half-circle"></div>
                    <div class="bg-block"></div>
                    <div class="title">Использование ботов</div>
                    <div class="text">Доверся роботу, который не имеет никаких чувств и ошибок на основе ИИ</div>
                </div>
            </div>
        </div>
    </div>

    <div class="specialists-block" id="specialists">
        <div class="river3"></div>
        {%for i in rivers_mobile%}
            <div class="river3 show-mobile" style="top: {{margin_counter_mobile.inc}};"></div>
        {%endfor%}
        
        <div class="l-coin1 hide-mobile"></div>
        <div class="l-coin2 hide-mobile"></div>
        <div class="title">
            <a href="{%url 'main:specialists'%}">Наши консультанты</a>
        </div>
        
        <div class="specialists">
            {%for specialist in specialists%}
                <div class="specialist-wrap">
                    <div class="bg"></div>
                    <div class="specialist-block">
                        
                        <div class="avatar" style="background-image: url({{specialist.image.url}});"></div>

                        <div class="name">{{specialist.name}}</div>

                        <div class="rating">
                            <div class="rateit" data-rateit-value="{{specialist.rating}}" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-mode="font"  style="font-size:35px"></div>
                        </div>

                        <div class="country-block">
                            <div class="flag" style="background-image: url({{specialist.country.flag.url}});"></div>
                            <div class="country">{{specialist.country.country}}, {{specialist.city.name}}</div>
                        </div>

                        <div class="description scrollable">{{specialist.description}}

Telegram: <a style="color: blue !important;" href="https://t.me/{{specialist.get_cutted_telegram}}">{{specialist.telegram}}</a></div>
                        <div class="lections">
                            Проведено лекций: {{specialist.count_of_lections}}
                        </div>
                    </div>
                </div>
            {%endfor%}
            {% if specialists|length < 3%}
                <div class="specialist-wrap-fake"></div>
            {%endif%}
        </div>
        <div class="see-events-block hide-mobile" style="width: 100%;">
            <a href="{%url 'main:specialists'%}">
                <div class="text">Смотреть все</div>            
                <div class="arrow"></div>
            </a>            
        </div>
    </div>

    <div class="review-block">
        <div class="title">Отзывы наших партнёров</div>
        <div class="partners-block">
           
        </div>
    </div>

    <div class="employers-section">
        <div class="employers-wrapper wrapper">
            <div class="employers__list" style="height:400px ">
                <ul id="employers-carousel" class="cS-hidden">
                        <li style="height:400px">
                            <div class="employers__item">
                                <div class="employer-image" >
                                    <img src="{%static 'img/mark2.png'%}" />
                                    <div class="name">Ринат</div>
                                </div>
                                <div class="text-block">                                    
                                    <div class="text">
                                        Добрый вечер Амре. Хочу поблагодарить вас за отличный тренинг. Было бомбово. Я занимаюсь проектом STC с Ноября 2020 года, и даже не знал сколько есть дополнительных возможностей заработать и увеличить свои активы, я в шоке..                                        
                                        Тренинг мне дал понимание того, как можно за не большой промежуток времени, выйти на колоссальный пассивный доход.
                                        Это КРУТО. Теперь я точно знаю как мне двигаться. Огромное спасибо, жму руку!!!
                                    </div>
                            </div>
                        </li>
                        <li style="height:400px ">
                            <div class="employers__item">
                                <div class="employer-image" >
                                    <img src="{%static 'img/mark4.png'%}" />
                                    <div class="name">Алия</div>
                                </div>
                                <div class="text-block">
                                    <div class="text">
                                        Здравствуйте! Меня зовут Алия. Я была на тренинге с ребенком.

                                        Тренинг очень понравился, оказался полезным, интересным, увлекательным. Прекрасная атмосфера, знакомство с новыми людьми. Жалко,  что пораньше ушли, не смогли остаться на сутки. Обязательно хочется на следующий!
                                        ⠀
                                        Спасибо за  знания, мотивацию. Очень интересный и полезный опыт. Большая благодарность Вам Амре и вашей команде!
                                    </div>
                            </div>
                        </li>
                        <li style="height:400px ">
                            <div class="employers__item">
                                <div class="employer-image" >
                                    <img src="{%static 'img/mark.png'%}" />
                                    <div class="name">Кайрат</div>
                                </div>
                                <div class="text-block">                                    
                                    <div class="text">
                                        Хочу выразить признательность за насыщенную и плодотворную программу конференции.  За её высокий профессиональный уровень и актуальность предложенных тем. А так же за возможность пообщаться с единомышленниками из разных регионов и получить бесценный опыт. Особая благодарность Амре за прекрасную организацию, чуткость, внимательность к каждому участнику конференции и тёплую атмосферу.
                                    </div>
                            </div>
                        </li>
                        <li style="height:400px ">
                            <div class="employers__item">
                                <div class="employer-image" >
                                    <img src="{%static 'img/mark3.png'%}" />
                                    <div class="name">Амина</div>
                                </div>
                                <div class="text-block">                                    
                                    <div class="text">
                                        В красивейшем горном отеле "Be Fine",  прошёл однодневный командный  тренинг в составе из 50-ти человек у  руководителя нашей  структуры АМРЕ КАБЫЛАШ. Разобраны следующие темы: 
                                        1. Ограничение мышления.
                                        2. Психология бизнеса.
                                        3. Психология продаж.
                                        Применяя в работе рекомендуемые стратегии, можно достичь хороших результатов  вместе со своей командой. Передана сильная энергетика, отличная мотивация. Ведь наш уникальный продукт сам себя продаёт. Наша задача донести правильную информацию большему количеству людей, чтобы они  инвестируя позаботились о своём будущем. Очен важен довольный клиент. С благодарностью, Амина, Алматы.
                                    </div>
                            </div>
                        </li>
                </ul>
            </div>
            
        </div>
    </div>
    

    <div class="book-now">
        <div class="info-block">
            <div class="title">Бронируй сейчас!</div>
            <div class="text">Не упусти возможность научится торговать и начать зарабатывать. Посети наши мероприятия и начни обучаться уже сейчас!</div>
            <a href="{%url 'main:events'%}">
                <div class="button">Список мероприятий</div>
            </a>
        </div>
        <div class="image"></div>
    </div>
{%endblock%}