{% extends "base.html" %}
{%load static%}


{%block river%}
    <div class="river1 hide-mobile"></div>
{%endblock%}

{%block content%}
    <div class="first-block">
        <div class="title-block">
            <div class="title">
                Здесь будет ваш заголовок
            </div>
            <div class="under-title">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </div>
            <div class="title-button">Кнопка</div>
        </div>
        <div class="image-block"></div>
    </div>

    <div class="social-block">
        <div class="socials hide-mobile">
            <div class="facebook item"></div>
            <div class="twitter item"></div>
            <div class="instagram item"></div>
            <div class="youtube item"></div>
            <div class="telegram item no-margin-right"></div>
        </div>
        <div class="arrow-down hide-mobile" id="hover-arrow"></div>
        <div class="logos">
            <a href="https://smarttradecoin.com/">
                <div class="logo1 item">
                    <div class="logo"></div>
                </div>
            </a>
            <a href="https://tube.oceans-online.com/">
                <div class="logo2 item no-margin-right"></div>
            </a>            
        </div>
    </div>

    <div class="closest-event-block" id="event">
        <div class="gray-coin2 hide-mobile"></div>
        <div class="gray-coin1 hide-mobile"></div>

        <div class="orange-coin2 hide-mobile"></div>
        <div class="orange-coin1 hide-mobile"></div>

        <div class="title">Ближайшее мероприятие</div>
        <div class="event">
            <div class="planet"></div>
            {%if closest_event.pdf_image%}
                <a href="{{closest_event.pdf_file.url}}" download>
                    <div class="download-pdf hide-mobile" title="Скачать" ></div>
                </a>
            {%endif%}
            
            <div class="image" style="background-image: url({%if closest_event.image %}{{closest_event.image.url}}{%else%}{%static 'img/default_img.png'%}{%endif%});"></div>
            <div class="text-block">
                <div class="title">{{closest_event.name}}</div>
                <div class="info-block">
                    <div class="left-side">
                        <div class="item">
                            <div class="key">Дата: </div>
                            <div class="value">{{closest_event.start_date|date:"d.m.Y"}}</div>
                        </div>
                        <div class="item">
                            <div class="key">Лектор: </div>
                            <div class="value">{{closest_event.teacher}}</div>
                        </div>
                    </div>
                    <div class="left-side" style="margin-left: 25px;">
                        <div class="item">
                            <div class="key">Время:</div>
                            <div class="value">{{closest_event.start_time|date:'H:i'}} - {{closest_event.end_time|date:'H:i'}}</div>
                        </div>
                        <div class="item">
                            <div class="key">Стоимость: </div>
                            <div class="value">{{closest_event.price}}тг</div>
                        </div>
                    </div>
                    <div class="left-side full" >
                        <div class="item full">
                            <div class="key">Локация:</div>
                            <div class="value">{{closest_event.location}}</div>
                        </div>                        
                    </div>
                </div>

                <div class="description-block scrollable">{{closest_event.description}}</div>

                <div class="buy-block">
                    <div class="buttons">
                        <div class="left-places">Осталось мест: {{closest_event.places_left}}</div>
                        <div class="order">
                            Отсканируй Qr
                            
                        </div>
                        <div class="down-arrow-block show-mobile">
                            <div class="arrow"></div>
                        </div>
                    </div>
                    <div class="qr" style="background-image: url({%if closest_event.qr_image%}{{closest_event.qr_image.url}}{%endif%});"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="see-events-block hide-mobile">
        <a href="{%url 'main:events'%}">
            <div class="text">Смотреть все</div>            
            <div class="arrow"></div>            
        </a>        
    </div>

    <div class="last-updates-block">
        <div class="title">Последние обновления</div>
        <div class="updates">
            {%for new in news%}
                <div class="update-block">
                    <div class="image" style="background-image: url({%if new.image%}{{new.image.url}}{%else%}{%static 'img/default_img.png'%}{%endif%});"></div>
                    <div class="text-block">
                        <div class="title">
                            {{new.title}}
                        </div>
                        <div class="description scrollable">{{new.description}}</div>
                        <a href="{{new.source_link}}">
                            <div class="button hide-mobile">
                                Перейти
                            </div>
                        </a>
                    </div>
                    <a href="{{new.source_link}}">
                        <div class="button show-mobile">
                            Перейти
                        </div>
                    </a>                    
                </div>
            {%endfor%}            
        </div>
        

    </div>

    <div class="about-block" id="about">
        <div class="river2"></div>
        <div class="image"></div>
        <div class="text-block">
            <div class="title">
                О нас
            </div>
            <div class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500sever since the 1500sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </div>
            <a href="{%url 'main:events'%}">
                <div class="button">Список мероприятий</div>
            </a>            
        </div>
    </div>

    <div class="why-we-block" id="why">
        <div class="vectors1 hide-mobile"></div>
        <div class="vectors2 hide-mobile"></div>

        <div class="title">Почему тебе это нужно?</div>
        <div class="cases">
            <div class="case">
                <div class="image image1"></div>
                <div class="text">Ежедневный поток информации от консультантов</div>
            </div>
            <div class="case">
                <div class="image image2"></div>
                <div class="text">Акселерация. Многократное ускорение на пути к достижению цели.</div>
            </div>
            <div class="case">
                <div class="image image3"></div>
                <div class="text">Новое сильное окружение, которое будет тянуть вас вверх и сделает успешнее.</div>
            </div>
            <div class="case no-margin-bottom">
                <div class="image image4"></div>
                <div class="text">Business Networking как новый формат яркой жизни.</div>
            </div>
            <div class="case no-margin-bottom">
                <div class="image image5"></div>
                <div class="text">Ментор, который сэкономит уйму времени на самообразование</div>
            </div>
        </div>
    </div>

    <div class="teach-block">
        <div class="title show-mobile">Чему ты научишься?</div>
        <div class="image"></div>            
        <div class="info-block">
            <div class="title hide-mobile">Чему ты научишься?</div>
            <div class="items-block">
                <div class="item" id="item1">
                    <div class="half-circle"></div>
                    <div class="bg-block"></div>
                    <div class="title">Lorem Ispum</div>
                    <div class="text">Lorem Ipsum is simply dummy text of the printing and </div>
                </div>
                <div class="item" id="item2">
                    <div class="half-circle"></div>
                    <div class="bg-block"></div>
                    <div class="title">Lorem Ispum</div>
                    <div class="text">Lorem Ipsum is simply dummy text of the printing and </div>
                </div>
                <div class="item no-margin-bottom"  id="item3">
                    <div class="half-circle"></div>
                    <div class="bg-block"></div>
                    <div class="title">Lorem Ispum</div>
                    <div class="text">Lorem Ipsum is simply dummy text of the printing and </div>
                </div>
                <div class="item no-margin-bottom" id="item4">
                    <div class="half-circle"></div>
                    <div class="bg-block"></div>
                    <div class="title">Lorem Ispum</div>
                    <div class="text">Lorem Ipsum is simply dummy text of the printing and </div>
                </div>
            </div>
        </div>
    </div>

    <div class="specialists-block" id="specialists">
        <div class="river3"></div>
        <div class="river3 show-mobile" style="top: 600px;"></div>
        <div class="river3 show-mobile" style="top: 1300px;"></div>
        <div class="l-coin1 hide-mobile"></div>
        <div class="l-coin2 hide-mobile"></div>
        
        <div class="title">Наши специалисты</div>
        <div class="specialists">
            {%for specialist in specialists%}
                <div class="specialist-wrap">
                    <div class="bg"></div>
                    <div class="specialist-block">
                        
                        <div class="avatar" style="background-image: url({{specialist.image.url}});"></div>

                        <div class="name">{{specialist.name}}</div>

                        <div class="rating">
                            <div class="rateit" data-rateit-value="{{specialist.rating}}" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-mode="font"  style="font-size:35px"></div>
                        </div>

                        <div class="country-block">
                            <div class="flag" style="background-image: url({{specialist.country.flag.url}});"></div>
                            <div class="country">{{specialist.country.country}}, {{specialist.city.name}}</div>
                        </div>

                        <div class="description scrollable">{{specialist.description}}</div>
                        <div class="lections">
                            Проведено лекций: {{specialist.count_of_lections}}
                        </div>
                    </div>
                </div>
            {%endfor%}
            {% if specialists|length < 3%}
                <div class="specialist-wrap-fake"></div>
            {%endif%}
        </div>
        <div class="see-events-block hide-mobile" style="width: 100%;">
            <a href="{%url 'main:specialists'%}">
                <div class="text">Смотреть все</div>            
                <div class="arrow"></div>
            </a>            
        </div>
    </div>

    <div class="review-block">
        <div class="title">Отзывы наших партнёров</div>
        <div class="partners-block">
            <div class="partner">
                <div class="image-border">
                    <div class="image" style="background-image: url({%static 'img/mark.png'%});"></div>
                </div>
                <div class="info-block">
                    <div class="name">Mark Lebedev</div>
                    <div class="description scrollable">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque at maxime consequuntur sapiente, perspiciatis veritatis doloribus adipisci totam odio beatae, excepturi ea, architecto et? Enim illum voluptas beatae qui suscipit.
                    </div>
                    <div class="date">03.05.2021</div>
                </div>
            </div>
            <div class="partner">
                <div class="image-border" style="transform: rotate(45deg);">
                    <div class="image" style="background-image: url({%static 'img/mark.png'%});transform: rotate(-45deg);"></div>
                </div>
                <div class="info-block">
                    <div class="name">Mark Lebedev</div>
                    <div class="description scrollable">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque at maxime consequuntur sapiente, perspiciatis veritatis doloribus adipisci totam odio beatae, excepturi ea, architecto et? Enim illum voluptas beatae qui suscipit.
                    </div>
                    <div class="date">03.05.2021</div>
                </div>
            </div>
            <div class="partner">
                <div class="image-border" style="transform: rotate(90deg);">
                    <div class="image" style="background-image: url({%static 'img/mark.png'%});transform: rotate(-90deg);"></div>
                </div>
                <div class="info-block">
                    <div class="name">Mark Lebedev</div>
                    <div class="description scrollable">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque at maxime consequuntur sapiente, perspiciatis veritatis doloribus adipisci totam odio beatae, excepturi ea, architecto et? Enim illum voluptas beatae qui suscipit.
                    </div>
                    <div class="date">03.05.2021</div>
                </div>
            </div>
            <div class="partner">
                <div class="image-border" style="transform: rotate(135deg);">
                    <div class="image" style="background-image: url({%static 'img/mark.png'%});transform: rotate(-135deg);"></div>
                </div>
                <div class="info-block">
                    <div class="name">Mark Lebedev</div>
                    <div class="description scrollable">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque at maxime consequuntur sapiente, perspiciatis veritatis doloribus adipisci totam odio beatae, excepturi ea, architecto et? Enim illum voluptas beatae qui suscipit.
                    </div>
                    <div class="date">03.05.2021</div>
                </div>
            </div>
        </div>
    </div>

    <div class="book-now">
        <div class="info-block">
            <div class="title">Бронируй сейчас!</div>
            <div class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum tempore voluptatibus quis omnis laborum consequatur, neque quidem ratione consectetur amet repellendus aliquid saepe laudantium quos, labore necessitatibus, aut voluptatum nobis.</div>
            <a href="{%url 'main:events'%}">
                <div class="button">Список мероприятий</div>
            </a>
        </div>
        <div class="image"></div>
    </div>
{%endblock%}